<main class="main">
     <% if !user_signed_in? %>
  <div class="inner">
      <h1 >Books Intro</h1>
    <div class="inner_content">
    <div class="inner_right">
      <div class="greeting"> 
        <ul class="greeting">
          <li class="greeting">
        <%= "ここはあなたの読んだ本を紹介できるサイトです。" %>
          </li>
          <li class="greeting">
        <%= "面白かった本、読んだ本を登録できます。"%>
          </li>
          <li class="greeting">
        <%= "紹介された本を読んで感想を投稿する事ができます。"%>
          </li>
        </ul>
      </div>
    </div>
     <div class="inner_left">
        <div class="login_button">
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
       </div>
       <div class="login_button">
      <%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
       </div>
      </div>
    </div>
    <% else %>
  <div class="inner_page">
  </div>

      <% end %>
  </div>
  </div>
    </div>
  </div>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートで投稿一覧を表示する %>
    </div>
</main>
