<main class="main">
  <div class="page">
      <div class="detail_page">
        <div class="detail_page_inner">
          <div class="show_content">

            <div class="sentence-image">
              <div class='book-img-content'>
                <% if @book.image.attached? %>
                  <%= image_tag @book.image.variant(resize_to_limit: [400,400]),class:"image-content-img" %>
                <% end %>
              </div>
            </div>

            <div class='detail_book-title'>
              <%= @book.title %>
            </div>
            <hr class="hr1">
            
                <div class='book-info'>
                  <div class="sentence">
                  <span class="topic"><%="出版社:"%></span>
                  <span class='book-publisher'>
                   <%= @book.publisher %>
                  </span>
                  </div>

                  <div class="sentence">
                      <span class="topic"><%="ジャンル:"%></span>
                      <span class='book-genre'>
                        <%= @book.genre.name %>
                      </span>
                  </div>
                    
                    <div class="sentence-text">
                      <div class="topic"> <%="詳細"%></div>
                       <hr class="hr2">
                      <div class="book-detail">
                        <%= format_text_for_display(@book.detail) %>
                      </div>
                    </div>
                     
                     <div class="sentence-text">
                      <div class="topic"> <%="おすすめポイント"%></div>
                       <hr class="hr2">
                      <div class="book-recommended">
                        <%= format_text_for_display(@book.recommended) %>
                      </div>
                     </div>
                      
                      <div class="sentence-text">
                      <div class="topic">
                        <%="参考"%>
                      </div>
                       <hr class="hr2">
                      <div class="book-reference" >
                          <%= format_text_for_display(@book.reference) %>
                        </div>
                      </div>
                </div>


<%# 詳細ページ下部,編集部分 %>

<div class="detail_page_under">
  <div class="user_nickname">
                      <%= "投稿者：" %><%= @book.user&.nickname || "不明なユーザー" %>
                      </div>

              <% if user_signed_in? && current_user.id == @book.user_id %>
                <div class="detail_button">
                  <div class="dropdown">
                    <button class="drop-btn">▼</button>
                      <div class="dropdown-content">
                        <%= link_to "編集",  edit_book_path(@book), method: :get, class: "book_button" %>
                        <%= link_to "削除", book_path(@book), data: { turbo_method: :delete }, class: "book_button_delete" %>
                      </div>
                  </div>
                </div>
              <% end %>
               </div> 

<%# 編集部分終了 %>

<%# 読んだよボタン %>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <p class="books-read">あなたの紹介した本です</p>
  <% end %>

  <div class="read-btn toggle-button">
  <div id="read-btn-<%= @book.id %>">
  <%= render partial: "reads/read", locals: { book: @book } %>
</div>
<% end %>

<div id="read-count-<%= @book.id %>" class="read_count">読んだ人数：<%= @book.reads.count %></div>
 </div>
 <div class="index-btn">
   <%= link_to 'もどる', books_path, class: "index_link" %>
</div>
 </div>
  </div>
   </div>

<!-- コメントフォーム & リスト -->
<div id="toggle-element-<%= @book.id %>">
  <% if @book.read_by?(current_user) || @book.user_id == current_user.id %>
    <%= render partial: "comments/toggle_element", locals: { book: @book } %>
  <% else %>
    <%= render partial: "comments/hidden_toggle_element", locals: { book: @book } %>
  <% end %>
</div>

</main>