<main class="main">
  <div class="page">
      <div class="detail_page">
        <div class="detail_page_inner">
          <div class="show_content">

            <div class="sentence-image">
              <div class='book-img-content'>
                <% if @book.image.attached? %>
                  <%= image_tag @book.image.variant(resize_to_limit: [400,400]),class:"image-content-img" %>
                <% end %>
              </div>
            </div>

            <div class='detail_book-title'>
              <%= @book.title %>
            </div>
            <hr class="hr1">
            
                <div class='book-info'>
                  <div class="sentence">
                  <span class="topic"><%="出版社:"%></span>
                  <span class='book-publisher'>
                   <%= @book.publisher %>
                  </span>
                  </div>

                  <div class="sentence">
                      <span class="topic"><%="ジャンル:"%></span>
                      <span class='book-genre'>
                        <%= @book.genre.name %>
                      </span>
                  </div>
                    
                    <div class="sentence-text">
                      <div class="topic"> <%="詳細"%></div>
                       <hr class="hr2">
                      <div class="book-detail">
                        <%= format_text_for_display(@book.detail) %>
                      </div>
                    </div>
                     
                     <div class="sentence-text">
                      <div class="topic"> <%="おすすめポイント"%></div>
                       <hr class="hr2">
                      <div class="book-recommended">
                        <%= format_text_for_display(@book.recommended) %>
                      </div>
                     </div>
                      
                      <div class="sentence-text">
                      <div class="topic">
                        <%="参考"%>
                      </div>
                       <hr class="hr2">
                      <div class="book-reference" >
                          <%= format_text_for_display(@book.reference) %>
                        </div>
                      </div>


                      <% if user_signed_in? && current_user.id == @book.user_id %>
                <div class="detail_button">
                  <div class="dropdown">
                    <button class="drop-btn">▼</button>
                      <div class="dropdown-content">
                        <%= link_to "編集",  edit_book_path(@book.id), method: :get, class: "book_button" %>
                        <%= link_to "削除", book_path(@book.id), data: { turbo_method: :delete }, class: "book_button_delete" %>
                      </div>
                  </div>
                </div>
                <% end %>

                <div class="index-btn">
                  <%= link_to 'もどる', root_path, class: "index_link" %>
                </div>
            </div>
          </div>
        </div>
      </div>
            <div class="content_comment_form">
        <% if user_signed_in? %>
        <div class="form_show_content">
          <div class="comment_form">
            <div class="topic_comment">
          <%= "感想コメントフォーム"%>
            </div>
            <% if flash[:alert] %>
            <div class="error-message">
              <%= flash[:alert] %>
            </div>
            <% end %>
          <%= form_with(model: [@book, @comment || Comment.new], local: true) do |form| %>
          <%= form.text_area :text, maxlength: 140, class:"comment_text", placeholder: "紹介された本の内容について話す事ができます。コメントする（最大140文字まで）", rows: "4" %>
          <%= form.submit '送信', class: 'form-submit' %>
          <% end %>
      </div>
        </div>
      </div>
                <div class="content_comment">
            <div class="comment_form-text">
      <div class="comment-title">
        <%= "コメント一覧" %>
      </div>
      <div class="comment_list">
      <div class="comments">
        <% if @comments.empty? %>
    <p>まだコメントはありません。紹介されている本の内容についての感想コメントを投稿しましょう！</p>
  <% else %>
      <% @comments.each do |comment| %>
        <p class="comment">
          <div class="comment-user">
            <strong><%= comment.user.nickname %>：</strong>
          </div>
          <div class="comment-text">
          <%= simple_format(comment.text) %>
          </div>
        </p>
        <% end %>
      <% end %>
    </div>
            <% else %>
        <% end %>
              </div>
            </div>
                </div>
  </div>
</main>